#bouton1 {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    background-color:rgb(58, 37, 85);
    color: whitesmoke;
}
.menu_deroulant_fixe_left{
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: -600px;
    background-color: rgb(39, 3, 68);
    padding-top: 60px;
    transition: 0.3s;
    z-index: 2;
    padding-right: 200px;

    border-top: 1px solid ;
    border-right: 1px solid ;
    border-left: 1px solid ;
    border-bottom: 1px solid ;
    border-color: whitesmoke;
    
}
.menu_deroulant_fixe_left a {
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
}
.menu_deroulant_fixe_left a:hover {
    background-color: #4f2480;
}
.menu_deroulant_fixe_left.active {
    left: 0;
}
.banniere {
padding-left: 220px;
padding-right: 220px;
padding: 0;
display: flex;
justify-content: center;}
    
.banniere li {
list-style-type: none;}
    
.banniere a {
margin: 1rem; 
padding: 0.5rem;
border: 1px solid;
border-radius: 5px;
display: block;
min-width: 200px;
text-decoration: none;
color:aliceblue;
font-size: 25px;}
.banniere a:hover {
background-color: rgb(53, 0, 53);
    color:aliceblue;}
    
.banniere img {
border: none;}
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
body {
    background-image: url("pxfuel.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(69, 69, 69);
    
}
.body01 {

padding-left: 200px;
padding-right: 200px;
padding-top: 50px;
color: whitesmoke;
text-align: center;

}
a {
    color: #f5f5f5;
}
.body1 {
position: relative;
z-index: 1;
border-top: 1px solid ;
border-right: 1px solid ;
border-left: 1px solid ;
border-bottom: 1px solid ;
border-color: whitesmoke;
padding: 25px;
background:linear-gradient(80deg, #ff9190,#5e72eb);
opacity: 80%;
}
.table {
    font-size: 50px;
    
}
p {

    font-size: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: whitesmoke;
}
h1{
    font-size: 200px;
}
h2{
    font-weight: bold;
    font-size: 100px;
    text-decoration:underline;
}
h3{
    font-size: 75px;
}